<div class="type" id="link">

  <% form_for @post, :url => @post.new_record? ? posts_url : post_url do |f| %>
    <div>
      <%= f.label :verb, "How did this make you feel?" %>
      I <%= f.text_field :verb %> this:
    </div>
    <div>
      <%= f.label :title, "Title" %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :link, "Link" %>
      <%= f.text_field :link %>
    </div>
    <div>
      <%= f.label :content, "A bit about the link" %>
      <%= f.text_area :content %>
    </div>
    <div>
      <%= f.label :published, "Published" %>
      <%= f.check_box :published %>
    </div>
    <%= hidden_field_tag 'post[type]', 'link' %>
    <%= f.submit %>
  <% end %>
</div>