<div class="this is something i wrote">
  <p class="the time goes here">
    <em><%= time_ago_in_words(post.created_at) %> ago</em>
  </p>

  <p class="about">
    I <strong><%= post.verb %></strong> this:
  </p>

  <h3><%= link_to post.title, post.link %></h3>
  
  <% if post.link.not.blank? %>
    <p class="link goes here"><%= link_to post.link, post.link %></a></p>
  <% end %>
  <%= textilize(post.content) %>
</div>

<hr />