<div class="this is something i wrote">
  <p class="the time goes here">
    <em><%= time_ago_in_words(post.created_at) %> ago</em>
  </p>

  <p class="about">
    I <strong><%= post.stuffing_verb %></strong> this:
  </p>
  
  <blockquote><%= post.stuffing_content %></blockquote>
  
  <% if post.stuffing_link.blank? %>
    <p><strong><%= post.stuffing_by %></strong></p>
  <% else %>
    <p><strong><%= link_to post.stuffing_by, post.stuffing_link %></strong></p>
  <% end %>

</div>

<hr />