<div class="options">
  <ul>
    <li>Post:</li>
    <li><%= link_to 'Link', '#', :class => 'display link' %></li>
    <li><%= link_to 'Post', '#', :class => 'display post' %></li>
    <li><%= link_to 'Photo', '#', :class => 'display photo' %></li>
    <li><%= link_to 'Quote', '#', :class => 'display quote' %></li>
    <li><%= link_to 'View site...', '/' %></li>
  </ul>
</div>

<div class="new">
  <%= render :partial => 'posts/forms/link' %>

  <%= render :partial => 'posts/forms/post' %>

  <%= render :partial => 'posts/forms/photo' %>

  <%= render :partial => 'posts/forms/quote' %>
</div>

<div id="posts">
  <div id="unpublished" class="dl35">
    <h2>Drafts</h2>
    <%- if @unpublished_posts.empty? -%>
      <p>You have no drafts.</p>
    <%- else -%>
      <table>
        <tr>
          <th>Type</th>
          <th>Title</th>
          <th>Content</th>
        </tr>

      <%- @unpublished_posts.each do |post| -%>
        <tr>
          <td><%= post.post_type %></td>
          <td><%= post.title %></td>
          <td><%= link_to post.stuffing['content'][0,100] + ((post.stuffing['content'].size > 100) ? '...' : ''), edit_post_path(post.id) %></td>
          <td><%= post.published ? 'yes' : '' %></td>
          <td><%= link_to 'publish', publish_post_path(post.id) %></td>
        </tr>
      <%- end -%>

      </table>
    <%- end -%>
  </div>
  <div id="published" class="dl35">
    <h2>Published</h2>
    <%- if @published_posts.empty? -%>
      <p>You haven't posted anything yet. Click one of the post types above to get started</p>
    <%- else -%>
      <table>
        <tr>
          <th>Type</th>
          <th>Title</th>
          <th>Content</th>
        </tr>

      <%- @published_posts.group_by { |p| p.when_published } .each do |time, posts| %>
        <tr>
          <th colspan="4"><%= time.titlecase %></th>
        </tr>
        <%- posts.each do |post| -%>
          <tr>
            <td><%= post.post_type %></td>
            <td><%= post.stuffing['title'] %></td>
            <td><%= link_to post.stuffing['content'][0,100] + ((post.stuffing['content'].size > 100) ? '...' : ''), edit_post_path(post.id) %></td>
          </tr>
        <%- end -%>
      <%- end -%>

      </table>
    <%- end -%>
  </div>

</div>