<div class="options">
  <ul>
    <li>Post:</li>
    <li><%= link_to 'Link', '#', :class => 'display link' %></li>
    <li><%= link_to 'Post', '#', :class => 'display post' %></li>
    <li><%= link_to 'Photo', '#', :class => 'display photo' %></li>
    <li><%= link_to 'Quote', '#', :class => 'display quote' %></li>
    <li><%= link_to 'View site...', '/' %></li>
  </ul>
</div>

<%= render :partial => 'posts/forms/link' %>

<%= render :partial => 'posts/forms/post' %>

<%= render :partial => 'posts/forms/photo' %>

<%= render :partial => 'posts/forms/quote' %>